<ul>
  <li>Nome fantasia: <%= @provider.trading_name%></li>
  <li>Razão social: <%= @provider.company_name%></li>
  <li>CNPJ: <%= @provider.cnpj %></li>
  <li>Endereço: <%= @provider.address%></li>
  <li>Email: <%= @provider.email%></li>
  <li>Telefone: <%= @provider.phone%></li>
</ul>

<%= link_to 'Voltar', root_path%>