<h1>Entrada de Produtos</h1>

<%= form_with url: product_items_entry_path do |f| %>
  <div>
    <%= f.label :quantity, 'Quantidade'%>
    <%= f.number_field :quantity%>
  </div>

  <div>
    <%= f.label :warehouse_id, 'Galpão destino'%>
    <%= f.collection_select(:warehouse_id, @warehouses, :id, :code)%>
  </div>

  <div>
    <%= f.label :product_model_id, 'Produto'%>
    <%= f.collection_select(:product_model_id, @product_models, :id, :name)%>
  </div>

  <%= f.submit 'Confirmar'%>
<% end %>