<h3>Lista de modelos de produto</h3>

<%if @products.empty? %>
  <p>Nenhum produto cadastrado.</p>
<% else %>
  <p>Produtos cadastrados: <%= @products.count %></p>
  <br>
  <table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Status</th>
      <th>Produto</th>
      <th>Categoria</th>
    </tr>
  </thead>
    <% @products.each do |p| %>
      <tr id = <%=p.id%>>
        <td><%= p.enum_name(:status, p.status) %></td>
        <td><%= p.name %></td>
        <td><%= p.category.name %></td>
        <% if user_signed_in?%>
          <td><%= link_to 'Editar', edit_product_model_path(p.id)%></td>
          <% if p.enabled? %>
            <td><%= link_to 'Desativar', enable_product_model_path(p.id), method: :patch %></td>
          <% else %>
            <td><%= link_to 'Ativar', enable_product_model_path(p.id), method: :patch %></td>
          <% end %>
        <% end %>
        <td><%= link_to 'Detalhes', p %></td>
      </tr>
    <% end %>
  </table>
<% end %>