<%if @products.empty? %>

  <p>Nenhum produto cadastrado.</p>
  
<% else %>

  <table>
    <tr>
      <th>Produto</th>
      <th>Peso</th>
      <th>Dimensões</th>
      <th>SKU</th>
      <th>fornecedor</th>
    </tr>
    <% @products.each do |p| %>
      <tr id = <%=p.id%>>
        <td><%= p.name %></td>
        <td><%= p.weight %>g</td>
        <td><%= p.dimensions %></td>
        <td><%= p.sku %></td>
        <td><%= p.provider.trading_name %></td>
        <% if user_signed_in?%>
          <td><%= link_to 'Editar', edit_product_model_path(p.id)%></td>
        <% end %>
      </tr>
    <% end %>

  </table>

<% end %>