<h3>Novo Produto</h3>
<div style="width: 46rem;">
  <% unless @errors == []%>
    <div class="alert alert-warning">
      <ul>
        <% @errors.each do |msg| %>
          <li><%=msg%></li>
        <%end%>
      </ul>
    </div>
  <% end %>

  <%= form_with(model: ProductModel.new) do |f|%>
    <div class="form-group">
      <%= f.label :name, 'Nome'%>
      <%= f.text_field :name, class: 'form-control'%>
    </div>
    <br>
    <div class="form-group">
      <%= f.label :weight, 'Peso'%>
      <%= f.text_field :weight, class: 'form-control'%>
    </div>
    <br>
    <div class="form-group">
      <%= f.label :height, 'Altura'%>
      <%= f.text_field :height, class: 'form-control'%>
    </div>
    <br>
    <div class="form-group">
      <%= f.label :width, 'Largura'%>
      <%= f.text_field :width, class: 'form-control'%>
    </div>
    <br>
    <div class="form-group">
      <%= f.label :length, 'Profundidade'%>
      <%= f.text_field :length, class: 'form-control'%>
    </div>
    <br>
    <div class="form-group">
      <%= f.label :category_id, 'Categoria'%><br>
      <%= f.collection_select(:category_id, Category.all, :id, :name)%>
    </div>
    <br>
    <div class="form-group">
      <%= f.label :provider_id, 'Fornecedor'%><br>
      <%= f.collection_select(:provider_id, Provider.all, :id, :trading_name) %>
    </div>
    <br>
    <%= f.submit 'Gravar', class: 'btn btn-success'%>
  <%end%>
</div>