<ul>
  <li>Nome: <%= @product_model.name %></li>
  <li>Peso: <%= @product_model.weight %> gramas</li>
  <li>Dimensões: <%= @product_model.dimensions %></li>
  <li>SKU: <%= @product_model.sku %></li>
  <li>Categoria: <%= @product_model.category.name %></li>
  <li>Fornecedor: <%= @product_model.provider.trading_name %> </li>
  <li>Status: <%= @product_model.enum_name(:status, @product_model.status)%></li>
</ul>

<% if user_signed_in? %>
  <% if @product_model.enabled? %>
    <%= link_to 'Desativar', enable_product_model_path(@product_model.id), method: :patch %>
  <% else %>
    <%= link_to 'Ativar', enable_product_model_path(@product_model.id), method: :patch %>
  <% end %>
<% end %>


<h2> Galpões com estoque disponível </h2>

<% if @items.empty? %>
  <h2>Produto fora de estoque</h2>
<% else %>
  <table>
    <tr>
      <th>Galpão</th>
      <th>Quantidade</th>
    </tr>
    <% @items.each_pair do |warehouse, qtd| %>
        <tr id = <%= warehouse.id %>>
          <td><%= link_to warehouse.name, warehouse %></td>
          <td><%= qtd %></td>
        </tr>
      <% end %> 
  </table>
<% end %>
<% if user_signed_in? %>
  <h2>Entrada de itens</h2>

  <% if @error %>
    <ul>
      <li><%= @error %></li>
    </ul>
  <% end %>

  <%= form_with(url: product_entry_product_model_path(@product_model.id)) do |f| %>
    <div>
      <%= f.label :quantity, 'Quantidade'%>
      <%= f.number_field :quantity%>
    </div>

    <div>
      <%= f.label :warehouse_id, 'Galpão destino'%>
      <%= f.collection_select(:warehouse_id, @warehouses, :id, :name)%>
    </div>

    <%= f.submit 'Confirmar'%>
  <% end %>
<% end %>
