<ul>
  <li>Nome: <%= @product_model.name %></li>
  <li>Peso: <%= @product_model.weight %> gramas</li>
  <li>Dimensões: <%= @product_model.dimensions %></li>
  <li>SKU: <%= @product_model.sku %></li>
  <li>Categoria: <%= @product_model.category.name %></li>
  <li>Fornecedor: <%= @product_model.provider.trading_name %> </li>
</ul>

<h2> Galpões com estoque disponível </h2>

<% if @items.empty? %>
  <h2>Produto fora de estoque</h2>
<% else %>
  <table>
    <tr>
      <th>Galpão</th>
      <th>Quantidade</th>
    </tr>
    <% @items.each_pair do |warehouse, qtd| %>
        <tr id = <%= warehouse.id %>>
          <td><%= link_to warehouse.name, warehouse %></td>
          <td><%= qtd %></td>
        </tr>
      <% end %> 
  </table>
<% end %>