<ul>
  <li>Nome: <%= @product_model.name %></li>
  <li>Peso: <%= @product_model.weight %> gramas</li>
  <li>Dimensões: <%= @product_model.dimensions %></li>
  <li>SKU: <%= @product_model.sku %></li>
  <li>Fornecedor: <%= @product_model.provider.trading_name %> </li>
</ul>