
<h2><%=@product_bundle.name%></h2>
<br>
<strong>Lista de produtos</strong>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Peso</th>
      <th>Dimensões</th>
      <th>Código SKU do produto</th>
      <th>Fornecedor</th>
    </tr>
  </thead>
  <tbody>
    <% @product_bundle.product_models.each do |p| %>
      <tr>
        <td><%= p.name %></td>
        <td><%= p.weight%>g</td>
        <td><%= p.dimensions%></td>
        <td><%= p.sku%></td>
        <td><%= p.provider.trading_name%></td>
      </tr>
    <% end %>
  </tbody>  
</table>
<br>
<p><strong>Código SKU do Kit: </strong><%=@product_bundle.sku%></p>
<p><strong>Peso total: </strong><%= @product_bundle.weight%>g</p>