<% if user_signed_in? %>
  <%= link_to 'Sair'%>
  <p>Olá <%= current_user.email%></p>
<% else %>
  <%= link_to 'Entrar', new_user_session_path %>
<% end %>

<h1>WareHouse App</h1>

<h3>Boas vindas ao sistema de gestão de estoques</h3>


<h3>Galpões cadastrados</h3>

<%@warehouses.each do |w|%>
  <%= link_to w.name, w%>
  <%=w.code%>
<%end%>

