<h3>Produtos na categoria <%= @category.name %></h3>

<% if @category.product_models.empty? %>
  <p>Nenhum produto cadastrado nessa categoria</p>
<% else %>
  <ul class="list-group" style="width: 25rem;">
    <% @category.product_models.each do |product| %>
      <li class="list-group-item"><%= link_to product.name, product_model_path(product.id) %></li>
    <% end %>
  </ul>
<% end %>
<br><br>

<% if @warehouses.empty? %>
  <p>Nenhum galpão cadastrado nessa categoria</p>
<% else %>
  <table class="table" style="width: 25rem;">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Código</th>
        <th>Cep</th>
      </tr>
    </thead>
    <tbody>
      <% @warehouses.each do |warehouse| %>
        <tr>
          <td><%= warehouse.name %></td>
          <td><%= warehouse.code %></td>
          <td><%= warehouse.postal_code %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>