<h2>Adicionar categoria ao galpão <%= @warehouse.name%></h2>

<% if @error %>
  <ul>
    <li><%= @error %></li>
  </ul>
<% end %>

<% if @categories.empty? %>
<h3>Não existem categorias no sistema</h3>
<% else %>
  <%= form_with(url: register_category_warehouse_path(@warehouse.id)) do |f|%>
    
    <div>
      <div class="form-check form-switch">
        <%= f.collection_check_boxes :category_ids, @categories, :id, :name do |b| %>
          <%= b.check_box  class: 'form-check-input' %>
          <%= b.label  class: 'form-check-label'%>
          <br>
        <% end %>
    </div>
    <br>
    <%= f.submit 'Confirmar', class: 'btn btn-success'%>
  <% end %>
<% end %>