<dl>
  <dt><%= @warehouse.name %></dt>
  <dd><%= @warehouse.code %></dd>
  <dd><%= @warehouse.description %></dd>
  <dd><%= @warehouse.address %> - <%= @warehouse.city %>/<%= @warehouse.state %></dd>
  <dd>CEP: <%= @warehouse.postal_code %></dd>
  <dd>Área Total: <%= @warehouse.total_area %> m2</dd>
  <dd>Área Útil: <%= @warehouse.useful_area %> m2</dd>
</dl>
<% if user_signed_in? %>
  <%= link_to 'Editar galpão', edit_warehouse_path%>
<% end %>

<h2>Estoque</h2>

<% if @items.empty? %>
<h4>Nenhum item no estoque</h4>
<% else %>
  <table>
    <tr>
      <th>Nome</th>
      <th>Quantidade</th>
    </tr>
    <% @items.each_pair do |product_model, qtd| %>
      <tr id = <%= product_model.id %>>
        <td><%= product_model.name %></td>
        <td><%= qtd %></td>
      </tr>
    <% end %>    
  </table>
<% end %>

<% if user_signed_in? %>

  <%= link_to 'Adicionar nova categoria ao galpão', add_category_warehouse_path(@warehouse.id)%>
  
  <h2>Entrada de itens</h2>

  <% if @error %>
    <ul>
      <li><%= @error %></li>
    </ul>
  <% end %>
  
  <%= form_with(url: product_entry_warehouse_path(@warehouse.id)) do |f| %>
    <div>
      <%= f.label :quantity, 'Quantidade'%>
      <%= f.number_field :quantity%>
    </div>
    
    <div>
      <%= f.label :product_model_id, 'Produto'%>
      <%= f.collection_select(:product_model_id, @product_models, :id, :name)%>
    </div>

    <%= f.submit 'Confirmar'%>
  <% end %>

<% end %>

<%= link_to 'Voltar', root_path %>

