  <h3><%= @warehouse.name %></h3>
<div>
  <strong>Código: </strong><%= @warehouse.code %>
  <br>
  <strong>Descrição: </strong><%= @warehouse.description %>
  <br>
  <strong>Endereço: </strong><%= @warehouse.address %>, <%= @warehouse.number %> - <%= @warehouse.city %>/<%= @warehouse.state %>
  <br>
  <strong>CEP: </strong><%= @warehouse.postal_code %>
  <br>
  <strong>Área Total: </strong><%= @warehouse.total_area %> m2
  <br>
  <strong>Área Útil: </strong><%= @warehouse.useful_area %> m2
  <br>
  <iframe src="https://www.google.com.br/maps?q=<%= @warehouse.postal_code %>,%20Brasil&output=embed"
          style="border-radius: 5px;" allowfullscreen="" loading="lazy"></iframe>
  <br>

  <% if user_signed_in? %>
    <%= link_to 'Editar galpão', edit_warehouse_path, class: 'link-primary'%>
  <% end %>
</div>

<div style="margin-top: 70px;">
  <h3>Estoque</h3>

  <% if @items.empty? %>
  <h4>Nenhum item no estoque</h4>
  <% else %>
    <table class="table" style="width: 46rem;">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Quantidade</th>
        </tr>
      </thead>
      <tbody>
        <% @items.each_pair do |product_model, qtd| %>
            <tr id = <%= product_model.id %>>
              <td><%= product_model.name %></td>
              <td><%= qtd %></td>
            </tr>
          <% end %>    
        <% end %>
      </tbody>
    </table>
</div>

<div style="margin-top: 70px;">
  <% if user_signed_in? %>
    
    <h3>Entrada de itens</h3>

    <% if @error %>
      <ul>
        <li><%= @error %></li>
      </ul>
    <% end %>
    
    <%= form_with(url: product_entry_warehouse_path(@warehouse.id)) do |f| %>
      <div>
        <%= f.label :quantity, 'Quantidade'%>
        <%= f.number_field :quantity%>
      </div>
      
      <div>
        <%= f.label :product_model_id, 'Produto'%>
        <%= f.collection_select(:product_model_id, @product_models, :id, :name)%>
      </div>

      <%= f.submit 'Confirmar', class: 'btn btn-success'%>
    <% end %>

  <% end %>
  <%if @warehouse.categories.empty?%>

    <p>Este galpão não possui nenhuma categoria cadastrada</p>

  <% else %>
</div>

<div style="margin-top: 70px;">
    <div id='categories'>

      <h3>Categorias</h3>
      <ul>
        <% @warehouse.categories.each do |category| %>
        <li><%= category.name %></li>
        <% end %>
      </ul>
    </div>

  <% end %>

  <% if user_signed_in? %>
    <%= link_to 'Adicionar nova categoria ao galpão', add_category_warehouse_path(@warehouse.id)%>
  <% end %>
</div>
<br>
<%= link_to 'Voltar', root_path %>

