

<% if @warehouse.disabled? %>
  <div class="alert alert-danger" role="alert">
    <h4>Atenção!</h4>
    Este galpão não foi ativado no sistema
  </div>
  <%= link_to 'Ativar Galpão', confirm_warehouse_path(params[:id]), class: 'link-success'%>
  <br><br><br>
<% end %>


<h3><%= @warehouse.name %></h3>
<div style="width: 25rem;">
  <ul class="list-group">
    <li class="list-group-item"><strong>Código: </strong><%= @warehouse.code %></li>
    <li class="list-group-item"><strong>Descrição: </strong><%= @warehouse.description %></li>
    <li class="list-group-item"><strong>Endereço: </strong><%= @warehouse.address %>, <%= @warehouse.number %> - <%= @warehouse.city %>/<%= @warehouse.state %></li>
    <li class="list-group-item"><strong>CEP: </strong><%= @warehouse.postal_code %></li>
    <li class="list-group-item"><strong>Área Total: </strong><%= @warehouse.total_area %> m2</li>
    <li class="list-group-item"><strong>Área Útil: </strong><%= @warehouse.useful_area %> m2</li>
    <iframe src="https://www.google.com.br/maps?q=<%= @warehouse.postal_code %>,%20Brasil&output=embed"
            style="border-radius: 5px;" allowfullscreen="" loading="lazy"></iframe>
  </ul>
  <br>
  <% if user_signed_in? %>
    <%= link_to 'Editar galpão', edit_warehouse_path, class: 'link-primary'%>
  <% end %>
</div>

<div style="margin-top: 70px;">
  <h3>Estoque</h3>

  <% if @items.empty? %>
  <p>Nenhum item no estoque</p>
  <% else %>
    <table class="table" style="width: 25rem;">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Quantidade</th>
        </tr>
      </thead>
      <tbody>
        <% @items.each_pair do |product_model, qtd| %>
            <tr id = <%= product_model.id %>>
              <td><%= product_model.name %></td>
              <td><%= qtd %></td>
            </tr>
          <% end %>    
        <% end %>
      </tbody>
    </table>
</div>

<div style="margin-top: 70px;">
  <% if user_signed_in? %>
    
    <h3>Entrada de itens</h3>
    <% if @product_models.empty? %>
      <p>Nenhum produto disponível para este galpão</p>
    <% else %>
      <% if @error %>
        <ul>
          <li><%= @error %></li>
        </ul>
      <% end %>

      <%= form_with(url: product_entry_warehouse_path(@warehouse.id)) do |f| %>
        <div class="form-group" style="width: 25rem;">
          <%= f.label :quantity, 'Quantidade'%>
          <%= f.number_field :quantity, class: 'form-control'%>
        </div>
        <br>
        <div>
          <%= f.label :product_model_id, 'Produto'%><br>
          <%= f.collection_select(:product_model_id, @product_models, :id, :name)%>
        </div>
        <br>
        <%= f.submit 'Confirmar', class: 'btn btn-success'%>
      <% end %>

    <% end %>
  <% end %>
</div> 

<div style="margin-top: 70px;">
  <h3>Categorias</h3>
  <%if @warehouse.categories.empty?%>
      <p>Este galpão não possui nenhuma categoria cadastrada</p>
  <% else %>
    <div id='categories' style="width: 25rem;">
      <ul class="list-group">
        <% @warehouse.categories.each do |category| %>
        <li class="list-group-item"><%= category.name %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% if user_signed_in? %>
  <%= link_to 'Adicionar nova categoria ao galpão', add_category_warehouse_path(@warehouse.id)%>
<% end %>
</div>
<br>
<br>
<%= link_to 'Voltar', root_path %>

