<dl>
  <dt><%= @warehouse.name %></dt>
  <dd><%= @warehouse.code %></dd>
  <dd><%= @warehouse.description %></dd>
  <dd><%= @warehouse.address %> - <%= @warehouse.city %>/<%= @warehouse.state %></dd>
  <dd>CEP: <%= @warehouse.postal_code %></dd>
  <dd>Área Total: <%= @warehouse.total_area %> m2</dd>
  <dd>Área Útil: <%= @warehouse.useful_area %> m2</dd>
</dl>
<% if user_signed_in? %>
  <%= link_to 'Editar galpão', edit_warehouse_path%>
<% end %>

<h2>Estoque</h2>
  <table>
    <tr>
      <th>Nome</th>
      <th>Quantidade</th>
    </tr>
    <% @items.each do |item| %>
    <tr id = <%= ProductModel.where(name: item[0])[0].id %>>
      <td><%=item[0]%></td>
      <td><%=item[1]%></td>
    </tr>
    <% end %>    
  </table>
<%= link_to 'Voltar', root_path %>