<!DOCTYPE html>
<html>
  <head>
    <title>WarehouseApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
  </head>

  <body>
    <%= flash[:alert] %>
    <%= flash[:notice] %>
    <header>
      <nav>
        <%= link_to "Início", root_path %>
        <%= link_to "Cadastrar novo galpão", new_warehouse_path %>
        <%= link_to "Ver todos os fornecedores", providers_path %>
        <%= link_to "Cadastrar modelo de produto", new_product_model_path %>
      
        <% if user_signed_in? %>
          <%= link_to "Sair", destroy_user_session_path, :method => :delete %>
          <p>Olá <%= current_user.email %></p>
        <% else %>
          <%= link_to "Entrar", new_user_session_path %>
        <% end %>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
