<!DOCTYPE html>
<html>
  <head>
    <title>WarehouseApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag 'main' %>
  </head>

  <body>
    <%= flash[:alert] %>
    <%= flash[:notice] %>
    <header>
      <nav>
        <%= link_to 'Início', root_path %>

        <%= link_to 'Ver todos os fornecedores', providers_path %>
        <%= link_to 'Ver todos os produtos', product_models_path%>
        <%= link_to 'Ver todos os kits', product_bundles_path %>
        <%= link_to 'Ver todas as categorias', categories_path%>
        <% if user_signed_in? %>
          <%= link_to 'Cadastrar novo galpão', new_warehouse_path %>
          <%= link_to 'Cadastrar modelo de produto', new_product_model_path %>
          <%= link_to 'Cadastrar novo kit de produtos', new_product_bundle_path%>
          <%= link_to 'Cadastrar novo fornecedor', new_provider_path %>
          <%= link_to 'Cadastrar nova categoria', new_category_path%>
          <%= link_to 'Entrada de itens', product_items_entry_path%>

          <%= link_to 'Sair', destroy_user_session_path, :method => :delete %>
          <p>Olá <%= current_user.email %></p>
        <% else %>
          <%= link_to 'Entrar', new_user_session_path %>
        <% end %>

      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
